.menu {
    background-color: #CD6090;
    color: white;
}

.btn-cadastro {
    background-color: #CD6090;
    color: white;
}

.btn-cadastro:hover {
    color: white;
}

@media(max-width: 1080px) {
    html {
        font-size: 93.75%;
    }
}

@media(max-width: 720px) {
    html {
        font-size: 73%;
    }
}

.text-loja {
    color: #CD6090;
}

.background-loja {
    background-color: #CD6090;
}

.rodape {
    background-color: #CD6090;
    color: white;
    margin: auto;
    width: 100%;
}

.produto-carrinho {
    display: flex;
    float: left;
}

.container-produtos {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    align-content: stretch;
    align-self: stretch;
    justify-content: space-around;
}

.card-produto {
    border: solid 2px #CD6090;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 10px;
    color: #CD6090;
    width: 250px;
}

.img-produto {
    border-radius: 5px;
    max-height: auto;
}

.page-link {
    color: #CD6090;
    border: #CD6090;
    border: 1px solid #CD6090;
}

.page-link:hover {
    position: relative;
    display: block;
    color: #fff;
    text-decoration: none;
    background-color: #CD6090;
    border: 1px solid #CD6090;
}

.page-item.active .page-link {
    background-color: #CD6090;
    border-color: #CD6090;
}